*{
    overflow-x:visible;
    font-family: Georgia, serif;
  }
  html{
    overflow-x: hidden;
    background-color:  rgb(249, 250, 251);
  }
  
  /* NAVBAR */
  .center-container {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  #navbar{
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
  }
  .border{
    width: 70%;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 10px 40px 10px rgba(142, 16, 16, 0.15);
  }
  .left-section{
    width: 70%; 
    ul{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
    }
    a{
      text-decoration: none;
      color: black;
    }
  }
  
  .hover:hover{
    border-bottom: 2px solid red;
  }
  
  
  /* HERO */
  #hero{
    overflow-x: hidden;
  }
  .name{
    color:  rgb(183, 97, 98);
    font-size:45px ;
    text-align: center;
}

.field{
    animation: printing 3s ease-in-out infinite;
    white-space: nowrap;
    font-size: 25px;
    background: linear-gradient(to right,rgb(83, 31, 150),rgb(37, 26, 195),black);
    background-clip: text;
    color: transparent;
}

@media (max-width:500px){
    .field{
        font-size: 17px;
    }
}

@media (max-width:413px){
    .header-name{
        padding: 0;
    }
    .card img{
        background-size: cover;
        /* height: 80px; */
    }
    .card-text{
        font-size: 10px;
        text-wrap: nowrap;
    }
    hr{
        margin: 10px;
    }
    .image img{
      width: 80%;
       position: relative;
      right: 14px;
      top: 7px;
      border: 2px solid rgba(189, 113, 113, 0);
    }
}

.myphoto{
    height: 50vh;
    width: 70%;
}

@keyframes printing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

.letter{
    letter-spacing: 5px;
    color: #6B7280;
}
.body{
    background-color: rgb(249, 250, 251);
}
.lan-section{
    flex-wrap: wrap;
}

.size{
    background-size: cover;
    height: 60px;
}
.card{
    border: none;
    width: 100px;
}
.card:hover{
    border: 2px solid rgb(18, 208, 85);
}


.card-text{
    text-wrap: nowrap;
}
hr{
    /* margin-top: 190px; */
    height: 5px;
    background-color: rgba(230, 76, 10, 0.8);
}

/* .font{
    color:black;
    background-color: rgb(228, 233, 223);
} */

.dropbtn {
    width: 30px;
    height: 30px;
    background: url(images/dropdown.jpg);
    background-size: cover;
    color: black;
    border: none;
    cursor: pointer;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 25px;
    left: 40px;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover{
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content{
    display: none;
  }

  .image{
    width: 80%;
     position: relative;
    left: 40px;
    top: 10px;
    border: 2px solid rgba(189, 113, 113, 0);
  }

  #projects{
    background-color: aliceblue;
  }
  .outer .head{
    background-color: aliceblue;
  }

  .first{
    background-color: white;
    width: 70%;
    border-radius: 10%;
    box-shadow: 10px 0px 10px 2px rgba(39, 33, 15, 0.3);
    /* border:1px solid rgba(108, 148, 14, 0.355); */
  }

  .button{
    background-color: #A5B4FC;
    border-radius: 10px;
    a{
        text-decoration: none;
        color: black;
    }
  }

  .project-name{
    text-shadow: 2px 2px 4px rgba(75, 211, 48, 0.8);
  }

  .link{
    font-size: 10px;
  }

.icons{
  display: flex;
  justify-content: center;
  gap: 30px;
}